@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

p, label, span, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-size: cover;
    background-image: url('../assets/images/landing.webp');
    margin-top: 0;
    background-attachment: fixed;
}

.masthead h1 {
    background-color: white;
    padding: 50px 10px 10px;
}

.masthead h2 {
    text-align: left;
    color: white;
}

.owl-dots {
    display: block;
    text-align: center;
}

.owl-dot {
    display: inline-block;
    margin: 0 5px;
}

.owl-dot span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dedede;
}

.owl-dot.active span {
    background-color: #2F4B34;
}

.owl-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 70px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    color: #2F4B34;
}

.owl-prev {
    margin-left: 10px;
}

.owl-next {
    margin-right: 10px;
}


/* Ajout de l'animation */

.navbar {
    transition: top 0.3s ease-in-out;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideDown 0.5s;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

label.required:not(.form-check-label):before, legend.col-form-label.required:before {
    content: "* ";
    color: #B94A48;
    font-size: 20px;
    font-weight: bold;
    vertical-align: text-top;
}

.form-group{
    margin-bottom: 10px;
}

.grecaptcha-badge {
    display: none !important;
}
